@charset "utf-8";

body  {margin: 0;
    font-family: 'メイリオ', Meiryo,'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif}

// 基本page
.page * {
    margin: 0;
}

.page-head img {
    width: 80px;
    vertical-align: bottom;
}

// .page-nav, .page-btn-close{
//     display: none;
// }

//グリッド
.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

// ヘッダー
.page-head {
    grid-column: 1;
    grid-row: 1;
    padding: 15px 0;
    background-color: #222;
    text-align: center;
}

// メインコンテンツ
.page-main {
    grid-column: 1;
    grid-row: 2;
    background-color: #ffe4b5;
}

// ナビゲーション

.page-nav {
    grid-column: 1;
    grid-row: 2;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
    display: none;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a{
        display: block;
        margin: 30px;
        border-bottom: solid 1px #aaa;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }
}

.open .page-nav {
    display: block;
}

// ボタン
.page-btn,
.page-btn-close {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: center;
    padding: 20px;
    border: none;
    background-color: transparent;
    color: #ffe4b5;
    font-size: 28px;
    cursor: pointer;
}
.page-btn-close {
    display: none;
}

.open .page-btn {
    display: none;
}

.open .page-btn-close {
    display: block;
}

// フッター
.page-foot {
    grid-column: 1;
    grid-row: 3;
    padding: 20px 0;
    background-color: #222;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

/* ####### 画面の横幅が1260px以上 ###### */
@media(min-width: 1260px) {
    .page {
        grid-template-columns: 260px 1fr;
    }
    /* メインコンテンツ */
    .page-main {
        grid-colmun: 2;
        grid-row: 1/ -1;
    }

    /* ヘッダー */
    .page-head{
        padding: 40px 0;
    }
    .page-head img {
        width: 150px;
    }
    /* ナビゲーション */
    .page-nav {
        display: block;
        background-color: #222;
    }

    /* ボタン */
    .page-btn {
        display: none;
    }
    /* フッター */
    .page-foot {
        padding: 40px 0;
    }
}



